.pale{fill:#67a3ff;}
.ears{fill:#47B;}
.shade{fill:#248;}
.dark{fill:#021039;}
.thick-dark {
  stroke:#021039;
  stroke-width:15;
}
.white{fill:#FFF;}
.tongue-red{fill:#C22;}
.heart-red{fill:#F44;}
.water-blue{fill:#0DE;}
.green{fill:#6A4;}
.emoji-xs {
  width: 5rem;
  height: 5rem;
}
.emoji-sm {
  width: 8rem;
  height: 8rem;
}
.emoji-md {
  width: 18rem;
  height: 18rem;
}
.emoji-lg {
  width: 29rem;
  height: 29rem;
}
.emoji-xl {
  width: 40rem;
  height: 40rem;
}
