;; Test data configuration
;; Paths to test data directories used in integration tests

{:test-data-dir "test-resources/loaders-integration-test/load-puzzles-from-directory-puzzle-format-test/test-data"}
